{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>
    
    {% for listing in listings reversed %}
        <div class="container all-listings">
            <div class="row listing">
                <div class="col-4 listing-image-index">
                    <a href="{% url 'listing page' listing.pk %}">{% load static %}<img src="{%static 'img/'%}{{listing.imageURL}}" alt="listing  image" class="mx-auto d-block"></a>
                </div>
                <div class="col-6">
                    <div class="row listing-title">
                        <h4><a href="{% url 'listing page' listing.pk %}">{{ listing.item }}</a><span class="listing-owner"> &nbsp; by {{ listing.owner }}</span></h4>
                    </div>
                    <div class="row listing-description">
                        <p>{{ listing.description }}</p>
                    </div>
                    <div class="row listing-starting-price">
                        <p>Starting price: ${{ listing.startBid }}</p>
                    </div>
                </div>
                <div class="col-2 listing-price align-self-center">
                    <p class="listing-current-price-text">Current price:</p>
                    {%  if listing.current_price.offer__max > listing.startBid %}
                        <p>${{ listing.current_price.offer__max }}</p>
                    {% else %}
                        <p>no one bid yet</p>
                    {% endif %}    
                    
                </div>

            </div>
        </div>
    {% empty %}
        <br/>
        <p>Nothing to see here for now :(</p>
    {% endfor %}
{% endblock %}